.fc-event-container {
    cursor: pointer!important;
}

/**
    LOADER CSS
**/
.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 10px auto !important;
}

.ENCERRADO {
    background-color: #337ab7!important;
}
.FINALIZADO {
    background-color: #28a745!important;
}
.ABERTO {
    background-color: #f39c12!important; 
}

.EM_ANDAMENTO { 
    background-color: #dc3545!important;
}

.fc-list-item {
    cursor: pointer;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}