/**
  LOADER CSS
**/

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 10px auto!important;
}

.login-box-body {
    border-top: thick solid #3276b1!important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.btn {
    border-radius: 3px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border: 1px solid transparent;
}

.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}

@media screen and (min-width: 320px) {
    #rc-imageselect, .g-recaptcha {
            transform:scale(0.85);
        -webkit-transform:scale(0.85);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}

@media screen and (min-width: 620px) {
    #rc-imageselect, .g-recaptcha {
        transform:scale(1.06);
        -webkit-transform:scale(1.06);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}
