@media print{

    .pagebreak { 
        page-break-before: always; 
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 5px 5px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .list-group {
        padding-left: 0;
        margin-bottom: 5px!important;
    }

    h3,
    h2 {
        margin: 0px!important;
        font-weight: bold;
    }

    h3 {
        font-size: inherit;
    }

    h2 {
        font-size: 14pt!important;
    }

    hr {
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: hidden;
        border-style: solid;
        height: 1px!important;
    }

    body{
        font-size: 12pt;
        background-color:#FFFFFF; 
        background-image:none; 
        color:#000000 
    }
}

