<th:block th:fragment="listar_passageiros">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover display nowrap table-striped" style="width:100%">
                <thead>
                    <th>Nome</th>
                    <th>Identificacao</th>
                    <th>Tipo sanguineo</th>
                    <th>RG - Orgão expedidor</th>
                    <th>Telefone</th>
                    <th>Motivo</th>
                    <th class="text-center">#</th>
                </thead>

                <tbody>
                    <tr th:each="p : ${passageiros}">
                        <td th:text="${p.passageiro.nome}"></td>
                        <td th:text="${p.passageiro.Identificacao}"></td>
                        <td th:text="${p.passageiro.tipoSanguineo}"></td>
                        <td th:text="${p.passageiro.rg + ' - ' + p.passageiro.orgao}"></td>
                        <td th:text="${p.passageiro.telefone}"></td>
                        <td th:text="${p.motivo}"></td>
                        <td class="text-center"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>