<th:block th:include="fragments/main :: page">
    <th:block th:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel shadow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-4 text-left">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRequisicaoFiltrar">
                                        <b>Filtrar </b>
                                        <i class="fa fa-filter"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="col-lg-4 text-center">
                                <div class="form-group">
                                    <p class="text-center" th:text="'Exibindo ' + ${pageRequisicao.pageable.pageNumber + 1} + ' de ' + ${pageRequisicao.totalPages} + ' página(s).'"></p>
                                </div>
                            </div>

                            <div class="col-lg-4 text-right">
                                <div class="form-group">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a role="button" th:href="${paginaAnterior}" th:classappend="${pageRequisicao.hasPrevious() ? '' : 'disabled'}"
                                            style="color:aliceblue" class="btn btn-primary">
                                            Página anterior
                                        </a>
                                        <a role="button" th:href="${proximaPagina}" th:classappend="${pageRequisicao.hasNext() ? '' : 'disabled'}"
                                            style="color:aliceblue" class="btn btn-primary">
                                            Página seguinte
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <th:block th:include="fragments/listar_panel_requisicaos :: list_panel_requisicao"></th:block>

                        <div class="row" th:if="${pageRequisicao.content.isEmpty()}">
                            <div class="col-lg-12">
                                <h3 class="text-center text-success">
                                    <th:block th:if="msgEmpty != null" th:text="${msgEmpty}"></th:block>
                                    <th:block th:if="msgEmpty == null">
                                        Nenhum registro encontrado. Use o botão "Filrar" acima para mais opções.
                                    </th:block>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-4 text-left">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRequisicaoFiltrar">
                                        <b>Filtrar</b>
                                        <i class="fa fa-filter"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="col-lg-4 text-center">
                                <div class="form-group">
                                    <p class="text-center" th:text="'Exibindo ' + ${pageRequisicao.pageable.pageNumber + 1} + ' de ' + ${pageRequisicao.totalPages} + ' página(s).'"></p>
                                </div>
                            </div>

                            <div class="col-lg-4 text-right">
                                <div class="form-group">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a role="button" th:href="${paginaAnterior}" th:classappend="${pageRequisicao.hasPrevious() ? '' : 'disabled'}"
                                            style="color:aliceblue" class="btn btn-primary">
                                            Página anterior
                                        </a>
                                        <a role="button" th:href="${proximaPagina}" th:classappend="${pageRequisicao.hasNext() ? '' : 'disabled'}"
                                            style="color:aliceblue" class="btn btn-primary">
                                            Página seguinte
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <th:block th:include="fragments/modal_filtros/requisicao/unidades/requisicao_modal_filtro :: requisicao_modal_filtro"></th:block>
    </th:block>
    <th:block th:fragment="scriptjs">
        <script>
            $(document).ready(() => {
                const tables = $('table');

                for (var i = 0; i < tables.length; i++) {

                    $(tables[i]).DataTable();
                }
            });
        </script>
        <script src="/js/filtrar_requisicao_modal.js"></script>
    </th:block>
</th:block>